.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!node_modules/chokidar/**
!node_modules/anymatch/**
!node_modules/normalize-path/**
!node_modules/picomatch/**
!node_modules/glob-parent/**
!node_modules/is-glob/**
!node_modules/is-extglob/**
!node_modules/braces/**
!node_modules/fill-range/**
!node_modules/to-regex-range/**
!node_modules/is-number/**
!node_modules/readdirp/**
!node_modules/is-binary-path/**
!node_modules/binary-extensions/**
node_modules/.package-lock.json
node_modules/.bin/**
.docs/**
test-*.js
